<div id="dashboard-humidity-card" class="card dashboard-card">
    <div class="loading-spinner">
      <div class="spinner-border spinner-style" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="card-header pb-0 blur">
        Humidity &#37;
    </div>
    <div class="card-body blur">
        <div class="overlay"></div>
        <div class="row">
            <div class="col-6">
                <div class="dashboard-card-titles">INDOOR</div>
                <div id="indoor-humidity-now" class="dashboard-card-value">00</div>
                <div class="dashboard-card-extrema">
                    <div class="dashboard-card-extrema-min-container">
                        <div class="dashboard-extrema-min">MIN</div>
                        <div id="indoor-humidity-day-min" class="dashboard-extrema-min-val">00</div>
                    </div>
                    <div class="dashboard-card-extrema-max-container">
                        <div class="dashboard-extrema-max">MAX</div>
                        <div id="indoor-humidity-day-max" class="dashboard-extrema-max-val">00</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="dashboard-card-titles">OUTDOOR</div>
                <div id="outdoor-humidity-now" class="dashboard-card-value">88</div>
                <div class="dashboard-card-extrema">
                    <div class="dashboard-card-extrema-min-container">
                        <div class="dashboard-extrema-min">MIN</div>
                        <div id="outdoor-humidity-day-min" class="dashboard-extrema-min-val">88</div>
                    </div>
                    <div class="dashboard-card-extrema-max-container">
                        <div class="dashboard-extrema-max">MAX</div>
                        <div id="outdoor-humidity-day-max" class="dashboard-extrema-max-val">88</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>