<div id="dashboard-peak-usage-card" class="card dashboard-card">
    <div class="loading-spinner">
      <div class="spinner-border spinner-style" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="card-header pb-0 blur">
        Peak Daily Usage kW
    </div>
    <div class="card-body blur solar-card-body">
        <div class="overlay"></div>
        <div id="peak-usage-now" class="dashboard-card-value-solar">8.888</div>
        <div class="row">
            <div class="col-6">
                <div class="dashboard-card-titles">PEAK SOLAR</div>
                <div id="peak-usage-from-solar" class="dashboard-card-value-solar">8.888</div>
            </div>
            <div class="col-6">
                <div class="dashboard-card-titles">PEAK GRID</div>
                <div id="peak-usage-from-grid" class="dashboard-card-value-solar">8.888</div>
            </div>
        </div>
    </div>
</div>