<div class="card dashboard-card">
    <div class="card-header">
        Pressure hPa
    </div>
    <div class="card-body">

                <div class="dashboard-card-titles">RELATIVE NOW</div>
                <div id="indoor-humidity-now" class="dashboard-card-value">0000.00</div>
                <div class="dashboard-card-extrema">
                    <div class="dashboard-card-extrema-min-container">
                        <div class="dashboard-extrema-min">MIN</div>
                        <div id="indoor-humidity-day-min" class="dashboard-extrema-min-val">0000.00</div>
                    </div>
                    <div class="dashboard-card-extrema-max-container">
                        <div class="dashboard-extrema-max">MAX</div>
                        <div id="indoor-humidity-day-max" class="dashboard-extrema-max-val">0000.00</div>
                    </div>
                </div>

    </div>
</div>