<div id="dashboard-rain-card" class="card dashboard-card">
    <div class="loading-spinner">
      <div class="spinner-border spinner-style" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="card-header pb-0 blur">
        Rain mm
    </div>
    <div class="card-body blur">
        <div class="overlay"></div>
        <div class="row">
            <div class="col-6">
                <div class="dashboard-card-titles">TODAY</div>
                <div id="rain-day" class="dashboard-card-value">88.8</div>
             </div>
            <div class="col-6">
                <div class="dashboard-card-titles">RATE PER HOUR</div>
                <div id="rain-rate" class="dashboard-card-value">88.8</div>
            </div>
            <div class="dashboard-card-extrema">
                <div class="dashboard-card-extrema-min-container">
                    <div class="dashboard-extrema-min">WEEK</div>
                    <div id="rain-week" class="dashboard-extrema-min-val">88.8</div>
                </div>
                <div class="dashboard-card-extrema-max-container">
                    <div class="dashboard-extrema-max">MONTH</div>
                    <div id="rain-month" class="dashboard-extrema-max-val">88.8</div>
                </div>
            </div>
        </div>
    </div>
</div>