<div id="dashboard-daily-power-card" class="card dashboard-card">
    <div class="loading-spinner">
      <div class="spinner-border spinner-style" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="card-header pb-0 blur">
        Daily Power kWh
    </div>
    <div class="card-body blur solar-card-body">
        <div class="overlay"></div>
        <div class="row">
            <div class="col-6">
                <div class="dashboard-card-titles">GENERATED</div>
                <div id="generated-day" class="dashboard-card-value-solar">88.8</div>
                <div class="dashboard-card-extrema">
                    <div class="dashboard-card-extrema-min-container">
                        <div class="dashboard-extrema-min">WEEK</div>
                        <div id="generated-week" class="dashboard-extrema-min-val">888.8</div>
                    </div>
                    <div class="dashboard-card-extrema-max-container d-none d-md-flex">
                        <div class="dashboard-extrema-max">MONTH</div>
                        <div id="generated-month" class="dashboard-extrema-max-val">8888.8</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="dashboard-card-titles">USED</div>
                <div id="used-day" class="dashboard-card-value-solar">88.8</div>
                <div class="dashboard-card-extrema">
                    <div class="dashboard-card-extrema-min-container">
                        <div class="dashboard-extrema-min">WEEK</div>
                        <div id="used-week" class="dashboard-extrema-min-val">888.8</div>
                    </div>
                    <div class="dashboard-card-extrema-max-container d-none d-md-flex">
                        <div class="dashboard-extrema-max">MONTH</div>
                        <div id="used-month" class="dashboard-extrema-max-val">8888.8</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>