<div id="dashboard-energy-balance-card" class="card dashboard-card">
    <div class="loading-spinner">
      <div class="spinner-border spinner-style" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="card-header pb-0 blur">
        Energy Balance
    </div>
    <div class="card-body blur">
        <div class="overlay"></div>
        <div class="row">
            <div class="col-12">
                <div class="dashboard-card-graph">
                    <div class="chart-container">
                        <canvas id="energy-balance-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>