<div class="card dashboard-card">
    <div class="card-header">
        Wind km/h
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-7">
                <div class="dashboard-card-titles">SPEED</div>
                <div id="rain-daily" class="dashboard-card-value">88.8</div>
             </div>
            <div class="col-5">
                <div class="dashboard-card-titles">DIRECTION</div>
                <div id="rain-rate" class="dashboard-card-value">NW</div>
            </div>
        </div>
        <div class="dashboard-card-extrema">
                <div class="dashboard-card-extrema-min-container">
                    <div class="dashboard-extrema-min">MIN</div>
                    <div id="indoor-humidity-day-min" class="dashboard-extrema-min-val">88.8</div>
                </div>
                <div class="dashboard-card-extrema-max-container">
                    <div class="dashboard-extrema-max">MAX</div>
                    <div id="indoor-humidity-day-max" class="dashboard-extrema-max-val">88.8</div>
                </div>
                <div class="dashboard-card-extrema-max-container">
                    <div class="dashboard-extrema-max">GUST</div>
                    <div id="indoor-humidity-day-max" class="dashboard-extrema-max-val">88.8</div>
                </div>
            </div>
    </div>
</div>