{% extends "solarweather/base.html" %}
{# The load static files declaration must be in any template that directly references a static file #}
{% load static %}

{% block title %}SolarWeather {% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg aa-nav">
        <div class="container-fluid">
            <div class="navbar-brand">
                <img class="header-logo" src="{% static "images/weather.png" %}" />
                <span class="ms-2">SolarWeather</span>
            </div>
            {% include "system/refresh-controls.html" %}
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 mb-1 mb-md-2 p-1">
            <div class="card dashboard-card">
                <div class="card-header pb-0">
                    Indoor Temperature
                </div>
                <div class="card-body">
                      <div class="row">
                        <div class="col-4 col-xxl-3 p-1">
                          <div class="dashboard-card-titles">NOW</div>
                          <div class="dashboard-card-value">88.8</div>
                          <div class="dashboard-card-titles">FEELS LIKE</div>
                          <div class="dashboard-card-value">88.8</div>
                        </div>
                        <div class="col-8 col-xxl-9 p-1">
                          <div class="dashboard-card-titles">DAILY RANGE</div>
                          <div class="dashboard-card-graph">
                              <div class="chart-container">
                                  <canvas id="indoor-temp-chart"></canvas>
                              </div>
                          </div>
                          <div class="dashboard-card-extrema">
                              <div class="dashboard-card-extrema-min-container">
                                  <div class="dashboard-extrema-min">MIN</div>
                                  <div class="dashboard-extrema-min-val">88.8</div>
                              </div>
                              <div class="dashboard-card-extrema-max-container">
                                  <div class="dashboard-extrema-max">MAX</div>
                                  <div class="dashboard-extrema-max-val">88.8</div>
                              </div>
                          </div>

                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-1 mb-md-2 p-1">
            <div class="card dashboard-card">
                <div class="card-header pb-0">
                    Outdoor Temperature
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 col-xxl-3 p-1">
                            <div class="dashboard-card-titles">NOW</div>
                            <div class="dashboard-card-value">88.8</div>
                            <div class="dashboard-card-titles">FEELS LIKE</div>
                            <div class="dashboard-card-value">88.8</div>
                        </div>
                        <div class="col-8 col-xxl-9 p-1">
                            <div class="dashboard-card-titles">DAILY RANGE</div>
                            <div class="dashboard-card-graph">
                                <div class="chart-container">
                                  <canvas id="outdoor-temp-chart"></canvas>
                                </div>
                            </div>
                            <div class="dashboard-card-extrema">
                                <div class="dashboard-card-extrema-min-container">
                                    <div class="dashboard-extrema-min">MIN</div>
                                    <div class="dashboard-extrema-min-val">88.8</div>
                                </div>
                                <div class="dashboard-card-extrema-max-container">
                                    <div class="dashboard-extrema-max">MAX</div>
                                    <div class="dashboard-extrema-max-val">88.8</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xxl-3 mb-sm-2 mb-1 pe-md-2">
            <div class="card dashboard-card">
                <div class="card-header">
                    Humidity
                </div>
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-3 mb-sm-2 mb-1 pe-md-2">
            <div class="card dashboard-card">
                <div class="card-header">
                    Rain
                </div>
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-3 mb-sm-2 mb-1 pe-md-2">
            <div class="card dashboard-card">
                <div class="card-header">
                    Pressure
                </div>
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-3 mb-sm-2 mb-1 pe-md-2">
            <div class="card dashboard-card">
                <div class="card-header">
                    Wind
                </div>
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript_extra %}
    <script src='{% static "js/chartjs/chart.min.js" %}' type="text/javascript"></script>
    <script type="module">
        import {init} from '{% static "js/dashboard/dashboard.js" %}';
        init();
    </script>
{% endblock %}