{% extends "solarweather/base.html" %}
{# The load static files declaration must be in any template that directly references a static file #}
{% load static %}

{% block title %}SolarWeather {% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg aa-nav">
        <div class="container-fluid">
            <div class="navbar-brand">
                <img class="header-logo" src="{% static "images/weather.png" %}" />
                <span class="ms-2">SolarWeather</span>
            </div>
            {% include "system/refresh-controls.html" %}
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 mb-1 mb-md-2 p-1">
            {% include "system/card-indoor-temp.html" %}
        </div>
        <div class="col-lg-6 mb-1 mb-md-2 p-1">
            {% include "system/card-outdoor-temp.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xxl-3 mb-1 mb-md-2 p-1">
            {% include "system/card-humidity.html" %}
        </div>
        <div class="col-md-6 col-xxl-3 mb-1 mb-md-2 p-1">
            <div class="card dashboard-card">
                <div class="card-header">
                    Rain
                </div>
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-3 mb-1 mb-md-2 p-1">
            <div class="card dashboard-card">
                <div class="card-header">
                    Pressure
                </div>
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-3 mb-1 mb-md-2 p-1">
            <div class="card dashboard-card">
                <div class="card-header">
                    Wind
                </div>
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript_extra %}
    <script type="module">
        import {Chart, registerables} from '{% static "js/chart.js/dist/chart.esm.js" %}';
        import {init} from '{% static "js/dashboard/dashboard.js" %}';

        Chart.register(...registerables);
        init(Chart);
    </script>
{% endblock %}