{% extends "solarweather/base.html" %}
{# The load static files declaration must be in any template that directly references a static file #}
{% load static %}

{% block title %}SolarWeather {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-xxl-3 mb-sm-2 mb-1 pe-md-2">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-3 mb-sm-2 mb-1 pe-md-2">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-3 mb-sm-2 mb-1 pe-md-2">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-3 mb-sm-2 mb-1 pe-md-2">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
